boto==2.49.0
certifi==2020.6.20
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.2
mpmath==1.0.0
numpy==1.19.2
pandas==0.24.1
Pillow==7.2.0
psutil==5.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.2
seaborn==0.9.0
six==1.15.0
sympy==1.3
termcolor==1.1.0
z3==0.2.0
z3-solver==4.8.7.0
